.large-input {
    height: 60px;
    /* Adjust as needed */
    padding: 10px;
    font-size: 16px;
}
.custom-ai-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6f3ef0;
    color: white;
   border-radius: 20px;
    cursor: pointer;
    width: 35%;
}