.navbar {
    display: flex;
    justify-content: space-between;
    background: #333;
    padding: 5px;
    color: white;
    max-height: 25px;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin: 0 5px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar a:hover {
    color: #f39c12;
}