.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DataClass{
  margin-top: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #f2f2f2;
}

/* Ensure all columns have consistent width */
th:nth-child(1), td:nth-child(1) { width: 5%; }  /* ID */
th:nth-child(2), td:nth-child(2) { width: 20%; } /* Name */
th:nth-child(3), td:nth-child(3) { width: 20%; } /* Username */
th:nth-child(4), td:nth-child(4) { width: 25%; } /* Email */
th:nth-child(5), td:nth-child(5) { width: 20%; } /* Phone */